<!DOCTYPE html>
<html>
<style>
    input {
        margin: 5px 3px;
    }

    form {
        padding: 10px;
        width: 300px;
        border: 0.5px black solid;
        border-radius: 7px;
    }

    div {
        margin-left: 300px;
    }
</style>
<head>
    <title>My Web</title>
</head>
<body>
<div>
    <h1>Login</h1>
    <form action="/" method="post">
        <label>UserName:
            <input type="text" name="userName" placeholder="Enter the username">
        </label><br/>
        <label>PassWord:&nbsp;
            <input type="password" name="password" placeholder="Enter the password">
        </label><br/>
        <button type="submit" style="margin-right:30px; ">submit</button>
        <button><a href="/logup">Create Accounts</a></button>
    </form>
</div>
</body>
</html>